/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #28a745;
    text-align: center;
    padding: 50px 0;
}

header .logo img {
    width: 100px;
}

header h1 {
    font-size: 3em;
    margin: 10px 0;
}

.slogan {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #fff;
    color: #28a745;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
}

section {
    text-align: center;
    padding: 50px 20px;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 20px 0;
}
